@page 
@model lab7.Pages.CelebritiesModel
@using DAL_Celebrity;
@using _3DAL_Celebrity_MSSQL;
@{
    Layout = null;
}

<h1>Celebrity</h1>
<a href="/0">
    <img src="@Model.PhotosRequestPath/diamond.jpg" onload="onPhotoLoad(this,200,0)"/>
</a>
@foreach(Celebrity c in Model.Celebrities)
{
    <a href="/@c.Id">
        <img id="@c.Id"
        src="@Model.PhotosRequestPath/@c.ReqPhotoPath"
        onload="onPhotoLoad(this,200,0)"/>
        </a>
}
<script>
        function onPhotoLoad(e, h, w) {
        let ratio = e.naturalWidth / e.naturalHeight;

        if (h != 0 && w == 0) {
            e.width = Math.round(ratio * h);
        }
        if (h == 0 && w != 0) {
            e.height = Math.round(w / ratio);
        }
    }
</script>